* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100% !important;
}

.col {
  /* padding: 0; */
}

nav {
  padding: 10px 50px 0 !important;
}

nav li {
  display: block;
  margin: auto;
  padding: 0 10px;
}

.container {
  float: left;
}

.page-contact-sidebar {
  /* height: 2597,8px; */
  height: 100%;
  max-width: 100px;
  min-width: 100px;
  background-color: #fff;
}

.page-contact-sidebar a {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.sidebar-page {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 160px;
  width: 100px;
  background-color: white;
  /* z-index: 2; */
}

.sidebar-text-rotate {
  transform: rotate(90deg);
}

.divider {
  margin: 0 auto;
  border-left: 1px solid rgba(83, 89, 108, .2);
  height: 100px;
  width: 0;
}

.gym {
  background-image: url('gym.jpg');
  background-repeat: no-repeat;
  background-position: cover;
  background-position: center;
  height: 1280px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  color: white;
  font-size: 54px;
}

.strengths {
  background-color: rgba(0, 0, 0, 0.884);
  height: 720px;
  justify-content: center;
  display: flex;
}

.our_strengths {
  max-width: 1140px;
  padding: 80px 0;
}

.strengths h2 {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.features {
  display: flex;
  justify-content: space-between;
  color: white;
  text-align: center;
  /* min-width: 100% !important; */
}

.features div {
  width: 20%;
}

.w-iconbox-icon {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0) inset, 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3) !important;
  background-color: #3f4544;
  color: #fff;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  transition: box-shadow 0.3s;
  margin: 0 auto;
  height: 100px;
  width: 100px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas,
.far {
  color: white;
}

.progress {
  position: relative;
  background-color: white;
}

.progress-done {
  position: absolute;
  height: 100%;
  background: linear-gradient(to left, #F2709C, #FF9472);
  animation: progress-animation 5s forwards;
}

.progress-done2 {
  position: absolute;
  height: 100%;
  background: linear-gradient(to left, #F2709C, #FF9472);
  animation: progress-animation2 5s forwards;
}

.progress-done3 {
  position: absolute;
  height: 100%;
  background: linear-gradient(to left, #F2709C, #FF9472);
  animation: progress-animation3 5s forwards;
}

h4,
h5 {
  color: #c2c4c5e5;
  font-family: "Roboto", sans-serif;
}

h4 {
  margin: 0;
  padding: 16px 0;
  font-size: 24px;
}

h5 {
  font-size: 15px;
  line-height: 25px;
}


.carousel-row {
  padding-top: 70px;
  padding-bottom: 140px;
  justify-content: center;
}

.carousel-row .owl-carousel {
  /* max-width: calc(100% - 100px); */
  max-width: 1419px;
}

.carousel-row .owl-carousel div img {
  margin-left: auto;
  margin-right: auto;
}

.carousel-row .owl-carousel div .owl-item {
  width: 350px;
}

.carousel-row .owl-carousel div .owl-item img {
  width: 270px;
  height: 185px;
}

.carousel-row .owl-carousel .owl-dots {
  text-align: center;
  margin-top: 40px;
}

.carousel-row .owl-carousel .owl-dots button {
  display: inline-block;
  border: 40px solid #506a85 !important;
  border-radius: 50%;
  /* flex-direction: row; */
  /* justify-content: space-around; */
  margin: 0 9.5%;
}

.carousel-row .owl-carousel .owl-dots button.active {
  border-color: #00bc9c !important;
}

.carousel-row h2 {
  text-transform: capitalize;
  margin-bottom: 24px;
  color: black;
  font-size: 34px;
  text-align: center;
}

.slide {
  display: flex;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

.three {
  margin-right: 6%;
}

.two {
  margin-left: 6%;
}

@keyframes progress-animation {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

@keyframes progress-animation2 {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes progress-animation3 {
  0% {
    width: 0%;
  }

  100% {
    width: 95%;
  }
}